html {
    font-size:10px;
    font-family:verdana;
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
}
h1 {
    font-family: 'Grand Hotel', cursive;
    text-align: center;
    font-size: 10rem;
    font-weight: 100;
    margin: 2rem 0;
    letter-spacing: 1px;
    color:black;
}